
* {
    margin: 0;
    padding: 0;
}

.div
{
border:1px solid black;
}
body {
    background-image: url(../images/bg-body.jpg);
    background-repeat: repeat;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 75%;
}


/*#home {
    background-image: url(../images/bg-home.jpg);
    background-position: right center;
    background-repeat: repeat-x;
    height: 57px;
    width: 100%;
}

#container {
    margin: 0 auto;
    padding: 0 18px 0 36px;
    position: relative;
    width: 910px;
}

*/
h1,h2 {
	font-size: 2.08333em;
	margin-top: 0.5em;
	margin-bottom: 0.22em;
	color: #EC008C;
}

h1 a,h2 a {
	color: #EC008C;
	text-decoration: none;
	background: none;
}

h1 a:hover,h2 a:hover {
	color: #EC008C;
	text-decoration: underline;
	background: none;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	background-repeat: no-repeat;
}

a {
	font-weight: bold;
	color: #000000;
	background-color: #FFF22D;
	text-decoration: none;
}

a:hover {
	color: #FFF22D;
	background-color: #000000;
}

p {
	line-height: 1.5em;
	margin-bottom: 1.5em;
}

ul {
	line-height: 1.5em;
	margin-bottom: 1.5em;
	margin-left: 15px;
}

.post img {
	padding: 7px;
	border: 1px solid #D3D3D3;
	background-color: #ffffff;
}


/***********************
/* h1 Styles	*
/**********************/

h1#identity {
	width: 632px;
	height: 62px;
	background-image: url(../images/Header_grey.png);
	background-repeat: no-repeat;
	margin-bottom: 2.16em;
	position: relative;
	/*left: -25px;*/
	left:10%;
}

h1#identity a {
	width: 632px;
	height: 62px;
	display: block;
}

/***********************
/* h2 Styles	*
/**********************/

h2#trackbacks {
	width: 267px;
	height: 18px;
	margin-bottom: 0.75em;
	background-image: url(../images/comments-and-trackbacks.gif);
	background-repeat: no-repeat;
}

h2#respond {
	width: 186px;
	height: 18px;
	margin-bottom: 0.75em;
	background-image: url(../images/make-a-comment.gif);
	background-repeat: no-repeat;
}

/***********************
/* h3 Styles	*
/**********************/

h3#aboutH3 {
	width: 140px;
	height: 17px;
	background-image: url(../images/about-this-blog.gif);
	background-repeat: no-repeat;
}

h3#archivesH3 {
	width: 77px;
	height: 15px;
	background-image: url(../images/archives.gif);
	background-repeat: no-repeat;
}

h3#categoriesH3 {
	width: 97px;
	height: 16px;
	background-image: url(../images/categories.gif);
	background-repeat: no-repeat;
}

h3#blogrollH3 {
	width: 69px;
	height: 17px;
	background-image: url(../images/blogroll.gif);
	background-repeat: no-repeat;
}

h3#contributorsH3 {
	width: 113px;
	height: 15px;
	background-image: url(../images/contributors.gif);
	background-repeat: no-repeat;
}

h3#fortuneH3 {
	width: 361px;
	height: 69px;
	background-image: url(../images/fortune-cookies.jpg);
	background-repeat: no-repeat;	
}

/***********************
/* Class Styles	*
/**********************/

.noShow {
	display: none;
}

.post {
	background-image: url(../images/bg-post.jpg);
	background-repeat: repeat-y;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 4.5em;
	padding-bottom: 3em;
	position: relative;
	margin-bottom: 1.5em;
}

.postContent {
	z-index: 10;
	position: relative;
}

.postTop {
	position: absolute;
	left: 0;
	top: 0;
	background-image: url(../images/top-post.jpg);
	background-repeat: no-repeat;
	/*width: 485px;*/
	width: 750px;
	height: 206px;
	z-index: 5;
}

.postBottom {
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/bottom-post.jpg);
	background-repeat: no-repeat;
	/*width: 485px;*/
	width: 750px;
	height: 73px;
	z-index: 5;
}

.hrDash {
	height: 1px;
	background-image: url(../images/dash.gif);
	background-repeat: repeat-x;
	margin-bottom: 0.5em;
	margin-top: 1em;
	width: 339px;
}

.postmetadata {
	padding-bottom: 1.5em;
}

.postcredit {
	float: left;
}

.postcomments {
	float: right;
}

.postFooter {
	width: 340px;
	position: relative;
}

.aboutTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 393px;
	height: 59px;
	background-image: url(../images/top-about.jpg);
	background-repeat: no-repeat;
}

.aboutBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 393px;
	height: 60px;
	background-image: url(../images/bottom-about.jpg);
	background-repeat: no-repeat;
}

.archivesTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 173px;
	height: 31px;
	background-image: url(../images/top-archives.jpg);
	background-repeat: no-repeat;
}

.archivesBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 173px;
	height: 33px;
	background-image: url(../images/bottom-archives.jpg);
	background-repeat: no-repeat;
}

.categoriesTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 173px;
	height: 28px;
	background-image: url(../images/top-categories.jpg);
	background-repeat: no-repeat;
}

.categoriesBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 173px;
	height: 32px;
	background-image: url(../images/bottom-categories.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.blogrollTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 172px;
	height: 44px;
	background-image: url(../images/top-blogroll.jpg);
	background-repeat: no-repeat;
}

.blogrollBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 173px;
	height: 32px;
	background-image: url(../images/bottom-blogroll.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.contributorsTop {
	position: absolute;
	top: 0;
	left: 0;
	width: 353px;
	height: 41px;
	background-image: url(../images/top-contributors.jpg);
	background-repeat: no-repeat;
}

.contributorsBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 353px;
	height: 50px;
	background-image: url(../images/bottom-contributors.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
}

.clear {
	clear: both;
}

.nocomments {
	margin-bottom: 12em;
}

#comments .left {
 float: left;
 width: 25%;
}

#comments .right {
	float: left;
}

/***********************
/* Single.php Next Previous Navigation	*
/**********************/

.navigation {
	margin-bottom: 2.5em;
}	

.navigation img {
	border: none;
}

.navigation a {
	background: none;
}

.previous_post {
	float: left;	
}

.previous_post a {
	width: 199px;
	height: 33px;
	background-image: url(../images/previous-post.jpg);
	background-repeat: no-repeat;
	display: block;
}

.previous_post a:hover {
	background-image: url(../images/previous-post-on.jpg);
}

.next_post {
	float: right;
}

.next_post a {
	width: 150px;
	height: 33px;
	background-image: url(../images/next-post.jpg);
	background-repeat: no-repeat;
	display: block;
}

.next_post a:hover {
	background-image: url(../images/next-post-on.jpg);
}
	
.older_entries {
	width: 185px;
	height: 34px;
	background-image: url(../images/older-entries-on.jpg);
	background-repeat: no-repeat;
	display: block;
	float: left;
	cursor: pointer;
}

a:hover .older_entries img {
	display: none;
}

.newer_entries {
	width: 187px;
	height: 32px;
	background-image: url(../images/newer-entries-on.jpg);
	background-repeat: no-repeat;
	display: block;
	float: right;
	cursor: pointer;
}

a:hover .newer_entries img {
	display: none;
}

/***********************
/* Containers	*
/**********************/

#container {
	/*width: 910px;*/
	width: 1200px;
	padding: 0 18px 0 36px;
	margin: 0 auto;
	position: relative;
}

#content {
	/*width: 486px;*/
	width: 750px;
	float: left;
	position: relative;
}

#sidebar {
	width: 420px;
	float: right;
	position: relative;
	/*background-image: url(../images/aboutMe.jpg);*/
	background-repeat: no-repeat;
	/*padding-top: 13.5em;*/
}


#footer {
	clear: both;
	background-image: url(../images/bg-footer.jpg);
	background-repeat: no-repeat;
	width: 450px;
	height: 113px;
	position: relative;
	left: -30px;
	padding: 1.5em 60px 1.5em 55px;
	margin-top: 6em;
}

#about {
	position: relative;
	background-image: url(../images/bg-about.gif);
	background-repeat: repeat-y;
	padding: 4.5em 77px 3em 45px;
}

#searchform {
	position: relative;
	top: -7px;
}

#searchform input {
	float: left;
	width: 11em;
	border: 1px solid #B2A973;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 2px;
}

#searchform a {
	width: 76px;
	height: 41px;
	display: block;
	background: none;
	background-image: url(../images/search-on.gif);
	background-repeat: no-repeat;
	float: left;
	position: relative;
	top: -1em; 
}

#subscribe {
	position: relative;
	top: -0.75em;
}

#subscribe img {
	float: left;
	margin-right: 2px;
}

#about img {
	border: none;
}

#searchform a:hover img {
	display: none;
}


#archives {
	position: relative;
	background-image: url(../images/bg-archives.jpg);
	background-repeat: repeat-y;
	padding: 1.5em 23px 1.5em 23px;
	margin-left: 20px;
	margin-bottom: 1.5em;
	width: 127px;
	float: left;
}

#categories {
	position: relative;
	background-image: url(../images/bg-categories.jpg);
	background-repeat: repeat-y;
	padding: 1.5em 23px 1.5em 23px;
	margin-left: 20px;
	width: 127px;	
	float: left;		
}

#blogroll {
	position: relative;
	background-image: url(../images/bg-blogroll.jpg);
	background-repeat: repeat-y;
	padding: 1em 23px 1.5em 23px;
	margin-right: 15px;
	width: 127px;
	float: right;	
}

#contributors {
	position: relative;
	background-image: url(../images/bg-contributors.jpg);
	background-repeat: repeat-y;
	padding: 1.5em 23px 1.5em 23px;
	margin-left: 20px;
	clear: both;
	/*top: 4.5em;*/
}

#comments .hrDash {
	margin-bottom: 1.5em;
}

#comments ul {
	margin: 0;
	list-style: none;
}

#home {
	width: 100%;
	height: 57px;
	background-image: url(../images/bg-home.jpg);
	background-repeat: repeat-x;
	background-position: right;
}

#home_inner {
	width: 888px;
	margin: 0 auto;
}

#home_inner a {
	width: 113px;
	height: 31px;
	background: none;
	background-image: url(../images/go-home.gif);
	background-repeat: no-repeat;
	display: block;
	float: right;
	margin-top: 7px;
}

#home_inner a:hover {
	background-image: url(../images/go-home-on.gif);
}

#polaroids {
	width: 100%;
	height: 100%;
	background-image: url(../images/polaroids.gif);
	background-repeat: no-repeat;
	background-position: top;
}

#fortune {
	margin-left: 15px;
	/*margin-top: 7.5em;*/
	margin-top: 40em;
}

#fortune ul {
	margin: 0;
	list-style: none;
}

#fortune #a {
	width: 192px;
	height: 45px;
	background-image: url(../images/hair-in-soup.jpg);
	background-repeat: no-repeat;
	float: left;
}

#fortune #b {
	width: 192px;
	height: 49px;
	background-image: url(../images/repair-brakes.jpg);
	background-repeat: no-repeat;
	float: right;
	position: relative;
	right: -20px;
}

#fortune #c {
	width: 191px;
	height: 49px;
	background-image: url(../images/five-pivotal.jpg);
	background-repeat: no-repeat;
	clear: both;
	position: relative;
}

#fortune #d {
	width: 192px;
	height: 49px;
	background-image: url(../images/dont-eat-me.jpg);
	background-repeat: no-repeat;
	float: right;
	position: relative;
	right: -20px;
	top: -45px;
}

#fortune #e {
	width: 192px;
	height: 45px;
	background-image: url(../images/unusual-equipment.jpg);
	background-repeat: no-repeat;
	position: relative;
	left: -10px;	
}

#fortune #f {
	width: 192px;
	height: 46px;
	background-image: url(../images/stop-doing-that.jpg);
	background-repeat: no-repeat;
	position: relative;
	left: 10px;
}

#fortune #g {
	width: 192px;
	height: 47px;
	background-image: url(../images/functioning-superbly.jpg);
	background-repeat: no-repeat;
	position: relative;
}
